
<div class="full-background">
    <div class="header">
        <span style="font-size: 45px; color: #46e60a;">&#8801;</span>
        <span>Header</span>
    </div>
    <div class="row-self">
        <div class="sidenav">
            <h1 style="color: #46e60a;">Dashboard</h1>
            <ul>
                <li><a  routerLink="">Home</a></li>
                <li><a routerLink=" ">Service</a></li>
                <li><a  routerLink="/dashboard/whatsapp-login">Login Whatsapp</a></li>
            </ul>
        </div>
        <div class="main">
            <router-outlet />
        </div>
    </div>
    
    
</div>