<!-- user-plan-card.component.html -->
<div class="card" *ngIf="user">
    <div class="card-header">
      <h2>{{ user.username }}</h2>
    </div>
    <div class="card-body">
      <div *ngFor="let plan of user.plans">
        <h3 style="text-transform: capitalize;">{{ plan.plan.name }}</h3>
        <p><strong>Price:</strong> {{ plan.plan.price  }}</p>
        <p><strong>Duration:</strong> {{ plan.plan.duration }} days</p>
        <p><strong>IP Limit:</strong> {{ plan.plan.ip }}</p>
        <ul>
          <li *ngFor="let item of plan.description">{{ item }}</li>
        </ul>
        <p><strong>Plan ID:</strong> {{ plan.plan._id }}</p>
        <p><strong>Plan Expiration:</strong> {{ calculateExpiration(plan.timestamp) | date:'short' }}</p>
      </div>
    </div>
  </div>
  
