
<div class="table-container">
  <h2>Session Details</h2>
  <table>
    <thead>
      <tr>
        <th>Session ID</th>
        <th>Platform</th>
        <th>Status</th>
        <th>User ID</th>
        <th>Username</th>
        <th>Action</th>
        <th>QR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ sessionData.sessionId || 'na'}}</td>
        <td>{{ sessionData.platform  || 'NA' }}</td>
        <td>{{ sessionData.status  || 'NA'}}</td>
        <td>{{ sessionData.userId  || 'NA'}}</td>
        <td>{{ sessionData.username  || 'NA'}}</td>
        <td><button class="btn btn-success" (click)="callApi()">Login</button></td>
     <td class="td-qr" *ngIf="qrCodeImage">
      <img [src]="qrCodeImage" alt="QR Code"  />
     </td>
    
      </tr>
    </tbody>
  </table>
</div>

<!-- Separate QR Image section if needed -->
